<mat-toolbar color="primary">
  <mat-toolbar-row class="row-menu">
    <img class="img-logo" src="assets/images/logocf.png" alt="">
    <p>CubeStore</p> 
    <span class="example-spacer"></span>
    <a mat-menu-item *ngIf="!(isAutenticated)" (click)="login()">
      <mat-icon>person_add</mat-icon>
      <span>Login</span>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div class="menu-center">
      <a mat-stroked-button color="accent" routerLink="/"><h2>Inicio</h2></a>
      <a mat-stroked-button color="accent" routerLink="/"><h2>Descuentos</h2></a>
      <a mat-stroked-button color="accent" routerLink="/"><h2>Best Sellers</h2></a>
      <a mat-stroked-button color="accent" routerLink="/"><h2>Nuevos Ingresos</h2></a>
      <a mat-stroked-button color="accent" routerLink="/"><h2>Contactenos</h2></a>
    </div>
    <span class="example-spacer"></span>
    <a mat-menu-item *ngIf="isAutenticated" (click)="logout()">
      <mat-icon>person_remove</mat-icon>
      <span>Logout</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>



  