<mat-toolbar color="primary">
  <mat-toolbar-row class="row-menu">
    <img class="img-logo" src="assets/images/logocf.png" alt="">
    <p>CubeStore</p> 
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div class="menu-center">
      <a mat-stroked-button color="accent" routerLink="/"><h2>Inicio</h2></a>
      <a mat-stroked-button color="accent" routerLink="/"><h2>Descuentos</h2></a>
      <a mat-stroked-button color="accent" routerLink="/"><h2>Best Sellers</h2></a>
      <a mat-stroked-button color="accent" routerLink="/"><h2>Nuevos Ingresos</h2></a>
      <a mat-stroked-button color="accent" routerLink="/"><h2>Contactenos</h2></a>
    </div>
    <span class="example-spacer"></span>
    <span class="mat-caption" *ngIf="isAutenticated">{{currentUser.user.email}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu3">
      <mat-icon [ngStyle]="{'color': isAutenticated ? 'white': '#9E9E9E' }">person</mat-icon>
    </button>
    <!--Menu usuario-->
    <mat-menu #menu3="matMenu">
      <a mat-menu-item *ngIf="!(isAutenticated)" [ngStyle]="{'color': '#9E9E9E' }" (click)="login()">
        <mat-icon [ngStyle]="{'color': '#9E9E9E' }" >person_add</mat-icon>
        <span>Login</span>
      </a>
      <a mat-menu-item *ngIf="isAutenticated" [ngStyle]="{'color': '#9E9E9E' }" (click)="logout()">
        <mat-icon [ngStyle]="{'color': '#9E9E9E' }" >person_remove</mat-icon>
        <span>Logout</span>
      </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>



  