<div class="grid-container">
  <div><p class="title">Todos los Productos</p></div>
  <div class="crear" *ngIf="isntCliente">
    <button  mat-fab
    matTooltip="Crear Nuevo Producto"
    aria-label="Crear Nuevo Producto" 
    color="primary"
    (click)="create()"><mat-icon>add_cricle</mat-icon></button>
  </div>
  <div class="crear" *ngIf="isntCliente">
    <button  mat-fab
    matTooltip="Editar Productos"
    aria-label="Editar Productos" 
    color="primary"
    (click)="update()"><mat-icon>edit</mat-icon></button>
  </div>
    
  <mat-grid-list [cols]="4" rowHeight="30em" gutterSize="10px">
      <mat-grid-tile *ngFor="let item of datos">
        <mat-card class="dashboard-card">
          <img class="card-img" [src]="finales[item.id]" alt="">
          <!-- <img [src]="imgSrc"
           (mouseover)="imgSrc = 'assets/images/2.jpg'"
           (mouseout)="imgSrc = 'assets/images/1.webp'"> -->
          <mat-card-header>
            <mat-card-title class="titleCard">{{item.nombre}} </mat-card-title>
          </mat-card-header>
          <mat-divider inset></mat-divider>
          <mat-card-content class="descp">
            <div>{{item.precio | currency:"USD" }} 
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{item.usuario.nombre}}
            </div>
            <div>{{item.estado}} </div>
          </mat-card-content>
          
          <mat-card-actions>
            <button
            mat-mini-fab
            color="accent"
            matTooltip="Detalle Producto"
            aria-label="Detalle Producto"
            color="primary"
            (click)="detalle(item.id)"
            >
              <mat-icon class="mat-18">info</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="accent"
              matTooltip="Agregar al carrito"
              aria-label="Agregar al carrito"
              color="primary"
              

            >
              <mat-icon class="mat-18">add_shopping_cart</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>