<div class="grid-container">
  <div><p class="title">Todos los Productos</p></div>
  <div class="crear">
    <button  mat-fab
    matTooltip="Crear Nuevo Producto"
    aria-label="Crear Nuevo Producto" 
    color="primary"
    (click)="create()"><mat-icon>add_cricle</mat-icon></button>

  </div>
    
    <mat-grid-list [cols]="3" rowHeight="40em" gutterSize="10px">
      <mat-grid-tile *ngFor="let item of datos">
        <mat-card class="dashboard-card">
          <img class="card-img" src="assets/images/1.webp" alt="">
          <!-- <img [src]="imgSrc"
           (mouseover)="imgSrc = 'assets/images/2.jpg'"
           (mouseout)="imgSrc = 'assets/images/1.webp'"> -->
          <mat-card-header>
            <mat-card-title>{{item.nombre}} </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div> {{item.precio | currency:"USD" }} {{item.estado}}</div>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button
            mat-mini-fab
            color="accent"
            matTooltip="Detalle Producto"
            aria-label="Detalle Producto"
            color="primary"
            (click)="detalle(item.id)"
            >
              <mat-icon class="mat-18">info</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="accent"
              matTooltip="Editar Producto"
              aria-label="Editar Producto"
              color="primary"
              (click)="update(item.id)"

            >
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>